TestWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://model/" name="TestWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://model/" schemaLocation="TestWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="AddEntity">
    <part name="parameters" element="tns:AddEntity"/>
  </message>
  <message name="AddEntityResponse">
    <part name="parameters" element="tns:AddEntityResponse"/>
  </message>
  <message name="RemoveEntity">
    <part name="parameters" element="tns:RemoveEntity"/>
  </message>
  <message name="RemoveEntityResponse">
    <part name="parameters" element="tns:RemoveEntityResponse"/>
  </message>
  <message name="AddComment">
    <part name="parameters" element="tns:AddComment"/>
  </message>
  <message name="AddCommentResponse">
    <part name="parameters" element="tns:AddCommentResponse"/>
  </message>
  <message name="RemoveComment">
    <part name="parameters" element="tns:RemoveComment"/>
  </message>
  <message name="RemoveCommentResponse">
    <part name="parameters" element="tns:RemoveCommentResponse"/>
  </message>
  <message name="GrantComment">
    <part name="parameters" element="tns:GrantComment"/>
  </message>
  <message name="GrantCommentResponse">
    <part name="parameters" element="tns:GrantCommentResponse"/>
  </message>
  <message name="LoadComment">
    <part name="parameters" element="tns:LoadComment"/>
  </message>
  <message name="LoadCommentResponse">
    <part name="parameters" element="tns:LoadCommentResponse"/>
  </message>
  <message name="SetEntityObjectProperty">
    <part name="parameters" element="tns:SetEntityObjectProperty"/>
  </message>
  <message name="SetEntityObjectPropertyResponse">
    <part name="parameters" element="tns:SetEntityObjectPropertyResponse"/>
  </message>
  <message name="SearchEntitiesFromText">
    <part name="parameters" element="tns:SearchEntitiesFromText"/>
  </message>
  <message name="SearchEntitiesFromTextResponse">
    <part name="parameters" element="tns:SearchEntitiesFromTextResponse"/>
  </message>
  <message name="SetEntityTextProperty">
    <part name="parameters" element="tns:SetEntityTextProperty"/>
  </message>
  <message name="SetEntityTextPropertyResponse">
    <part name="parameters" element="tns:SetEntityTextPropertyResponse"/>
  </message>
  <portType name="TestWebService">
    <operation name="hello">
      <input wsam:Action="http://model/TestWebService/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://model/TestWebService/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="AddEntity">
      <input wsam:Action="http://model/TestWebService/AddEntityRequest" message="tns:AddEntity"/>
      <output wsam:Action="http://model/TestWebService/AddEntityResponse" message="tns:AddEntityResponse"/>
    </operation>
    <operation name="RemoveEntity">
      <input wsam:Action="http://model/TestWebService/RemoveEntityRequest" message="tns:RemoveEntity"/>
      <output wsam:Action="http://model/TestWebService/RemoveEntityResponse" message="tns:RemoveEntityResponse"/>
    </operation>
    <operation name="AddComment">
      <input wsam:Action="http://model/TestWebService/AddCommentRequest" message="tns:AddComment"/>
      <output wsam:Action="http://model/TestWebService/AddCommentResponse" message="tns:AddCommentResponse"/>
    </operation>
    <operation name="RemoveComment">
      <input wsam:Action="http://model/TestWebService/RemoveCommentRequest" message="tns:RemoveComment"/>
      <output wsam:Action="http://model/TestWebService/RemoveCommentResponse" message="tns:RemoveCommentResponse"/>
    </operation>
    <operation name="GrantComment">
      <input wsam:Action="http://model/TestWebService/GrantCommentRequest" message="tns:GrantComment"/>
      <output wsam:Action="http://model/TestWebService/GrantCommentResponse" message="tns:GrantCommentResponse"/>
    </operation>
    <operation name="LoadComment">
      <input wsam:Action="http://model/TestWebService/LoadCommentRequest" message="tns:LoadComment"/>
      <output wsam:Action="http://model/TestWebService/LoadCommentResponse" message="tns:LoadCommentResponse"/>
    </operation>
    <operation name="SetEntityObjectProperty">
      <input wsam:Action="http://model/TestWebService/SetEntityObjectPropertyRequest" message="tns:SetEntityObjectProperty"/>
      <output wsam:Action="http://model/TestWebService/SetEntityObjectPropertyResponse" message="tns:SetEntityObjectPropertyResponse"/>
    </operation>
    <operation name="SearchEntitiesFromText">
      <input wsam:Action="http://model/TestWebService/SearchEntitiesFromTextRequest" message="tns:SearchEntitiesFromText"/>
      <output wsam:Action="http://model/TestWebService/SearchEntitiesFromTextResponse" message="tns:SearchEntitiesFromTextResponse"/>
    </operation>
    <operation name="SetEntityTextProperty">
      <input wsam:Action="http://model/TestWebService/SetEntityTextPropertyRequest" message="tns:SetEntityTextProperty"/>
      <output wsam:Action="http://model/TestWebService/SetEntityTextPropertyResponse" message="tns:SetEntityTextPropertyResponse"/>
    </operation>
  </portType>
  <binding name="TestWebServicePortBinding" type="tns:TestWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddEntity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RemoveEntity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="AddComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RemoveComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GrantComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="LoadComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetEntityObjectProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SearchEntitiesFromText">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SetEntityTextProperty">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestWebService">
    <port name="TestWebServicePort" binding="tns:TestWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

